<form (ngSubmit)="search()" autocomplete="off">
  <input
    type="text"
    name="searchTerm"
    class="form-control"
    [(ngModel)]="searchTerm"
    (input)="keyPress()"
    [placeholder]="placeholder"
  />
</form>
<ul  *ngIf="showSuggestions" class="list-group">
  <li *ngFor="let suggestion of suggested" class="list-group-item list-group-item-action">
   <a class="nav-link" [routerLink]="['/pais', suggestion.alpha2Code]">  <img [src]="suggestion.flag" alt="flag" class="searchFlag"> {{suggestion.name}} </a>
  </li>
  <li class="list-group-item list-group-item-action" (click)="suggestionSearch()">
    <a class="nav-link"> Buscar "{{searchTerm}}"" </a>
   </li>
</ul>
