<h2>Buscar</h2>
<ul class="list-group">
    <li class="list-group-item" routerLink="region" routerLinkActive="active">Buscar por región</li>
    <li class="list-group-item" routerLink="capital" routerLinkActive="active">Buscar por capital </li>
    <li class="list-group-item" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Buscar país</li>
    <li class="list-group-item" routerLink="bordes" routerLinkActive="active">Buscar limítrofes </li>
    <li class="list-group-item" routerLink="banderas" routerLinkActive="active">Listar banderas </li>
    <!-- <li class="list-group-item" routerLink="mapas/completo" routerLinkActive="active">Completo</li> -->
    <!-- <li class="list-group-item" routerLink="mapas/mini" routerLinkActive="active">Mini </li>
    <li class="list-group-item" routerLink="mapas/zoom" routerLinkActive="active">Zoom</li>
    <li class="list-group-item" routerLink="mapas/marcadores" routerLinkActive="active">Marcadores </li>
    <li class="list-group-item" routerLink="mapas/propiedades" routerLinkActive="active">Propiedades </li> -->
</ul>