.mediumFlag {
    max-width: 300px;
    max-height: 200px;
    margin: 50px;
    float: right;
}

.label {
    font-weight: 600;
    font-size: larger;
}

.language {
    font-weight: bolder;
}