<div class="alert alert-info" *ngIf="!countryData; else countryDiv">
    Cargando país....
</div>

<ng-template #countryDiv>
<div class="row"  *ngIf="countryData">
    <div class="col-6">
        <h1>{{countryData.name}}</h1>
        <div><p class="label">Población:</p> <p>{{countryData.population | number}}</p></div>
        <div><p class="label">Moneda:</p> <p *ngFor="let currency of countryData.currencies">{{currency.name}}</p></div>
        <div><p class="label">Idioma:</p> <p *ngFor="let language of countryData.languages">{{language.name}}</p></div>
        <div><p class="label">Bloques regionales:</p> <p *ngFor="let block of countryData.regionalBlocs">{{block.name}}</p></div>
        <div><p class="label">Nombre en otros idiomas:</p> <p *ngFor="let trans of countryData.translations | keyvalue"><span class="language">{{trans.key}}:</span> {{trans.value}}</p></div>
    </div>
    <div class="col-6">
        <img [src]="countryData.flag" class="mediumFlag">
        <div *ngIf="weatherData">
        <div><p class="label">Temperatura Actual:</p> <p>{{weatherData.main.temp - 273.15 | number}} °C</p></div>
        <div><p class="label">Presión atmosférica</p> <p>{{weatherData.main.pressure}} hectopascales</p></div>
        <div><p class="label">Descripción:</p> <p>{{weatherData.weather[0].description | titlecase}}</p></div>
        </div>
    </div>
</div>
</ng-template>

<div class="map" id="map"></div>
