<h2>Buscar países limítrofes</h2>

<form [formGroup]="bordersForm" (ngSubmit)="submit()">
    <div class="row">
        <div class="col">
            <label class="form-label">Región</label>
            <select formControlName="region" id="" class="form-control">
                <option value="">Seleccioná</option>
                <option *ngFor="let region of regions" [value]="region">{{region | titlecase}}</option>
            </select>

            <label class="form-label">País</label>
            <select formControlName="country" id="" class="form-control">
                <option value="">Seleccioná</option>
                <option *ngFor="let country of countries" [value]="country.alpha2Code">{{country.name | titlecase}}
                </option>
            </select>

            <!-- <select *ngIf="borders.length>0 || bordersForm.controls.country.value == '' || loading" formControlName="borders" id="" class="form-control">
                <option value="">Seleccioná</option>
                <option *ngFor="let country of borders" [value]="country.alpha2Code">{{country.name | titlecase}}
                </option>
            </select>
            <div *ngIf="countries.length > 1 && borders.length===0 && bordersForm.controls.country.value !== '' && !loading">
                <p>El país seleccionado no tiene países limítrofes</p>                
            </div> -->

        </div>
    </div>
</form>

<div *ngIf="borders.length>0" class="row">
    <div class="col">
        <h2 class="bordersTitle">Países con los que comparte frontera</h2>
        <app-results-table [results]="borders"></app-results-table>
    </div>
</div>


<div class="map" id="map"></div>
